# Dependencias
**/node_modules/

# Builds
**/dist/
**/dist-ssr/

# Logs y archivos locales
*.log
npm-debug.log*
.DS_Store
.vscode/
.idea/

# Variables y secretos
.env
.env.*
!.env.example

# Datos locales de MongoDB
/data/
**/data/
